<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        <h1>Register</h1>
        <div class="input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter your username" name="username" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter your password" name="password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-container">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" placeholder="Confirm your password" name="confirm_password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>
